<div class="body">
  <div class="img-container">
    <section class="img1">
      <img src="../../assets/Jeff.jpg" class="picture" alt="Jeff">
    </section>
    <section class="img2">
      <img src="../../assets/Marissa.jpg" class="picture" alt="Marissa">
    </section>
    <section class="img3">
      <img src="../../assets/Mark.jpg" class="picture" alt="Mark">
    </section>
    <section class="img4">
      <img src="../../assets/satya.jpg" class="picture" alt="Satya">
    </section>
    <section class="img5">
      <img src="../../assets/sundhar.jpg" class="picture" alt="Sundhar">
    </section>
    <section class="img6">
      <img src="../../assets/Tim.jpg" class="picture" alt="Tim">
    </section>
  </div>
</div>
